<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>
<html>
        <head>
            <title>Nati's blog</title>
        </head>
        <body>
            <p>Hi there!</p>
            <p>It works!</p>
        </body>
    </html>
    <h1>Hola soy un Blog</h1>
    <h2>Soy chiquito</h2>
<em>hola hola hola hola hola hola hola</em>
<strong>bold blog</strong>
<br />
<a href="https://djangogirls.org">Django Girls</a>
<ul><li>zanahoria</li><li>zapallo</li></ul>

<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
